In [32]:
import os

In [33]:
%pwd

'd:\\DataScience\\Ml flow project\\ml-project-withmlflow'

In [34]:
os.chdir("../")

In [35]:
from dataclasses import dataclass
from pathlib import Path

@dataclass(frozen=True)
class ModelTrainerConfig:
    root_dir: Path
    train_data_path: Path
    test_data_path: Path
    model_name: str
    target_column: str
    n_estimators: int
    max_depth: int
    min_samples_split: int
    min_samples_leaf: int
    max_features: str
    bootstrap: bool
    random_state: int

In [36]:
from mlProject.constants import *
from mlProject.utils.common import read_yaml, create_directories

In [37]:
import pandas as pd
df = pd.read_csv(r'D:\DataScience\Ml flow project\ml-project-withmlflow\artifacts\data_ingestion\Dataset of Diabetes .csv')
df

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [38]:
df=df.drop(columns=['ID','No_Pation'],)

In [39]:
df.head()

  Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI CLASS
0      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
1      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0     N
2      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
3      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
4      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0     N

In [40]:
df['CLASS'].value_counts()

CLASS
Y     840
N     102
P      53
Y       4
N       1
Name: count, dtype: int64

In [41]:
df

    Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI CLASS
0        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
1        M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0     N
2        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
3        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
4        M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0     N
..     ...  ...   ...  ..    ...   ...  ...  ...  ...   ...   ...   ...
995      M   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6  30.0     Y
996      M   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4  37.2    Y
997      M   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1  27.4    Y
998      M   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0  40.5    Y
999      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7  33.0    Y

[1000 rows x 12 columns]

In [42]:
df = pd.get_dummies(df, columns=['Gender'], drop_first=True)

In [43]:
df['CLASS'] = df['CLASS'].str.strip().str.upper()
print(df['CLASS'].value_counts())

CLASS
Y    844
N    103
P     53
Name: count, dtype: int64

In [44]:
df['CLASS']=df['CLASS'].map({'N':0,'P':1,'Y':2})
df

,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS,Gender_M,Gender_f
0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0,False,False
1,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0,True,False
2,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0,False,False
3,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0,False,False
4,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,2,True,False
996,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,2,True,False
997,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,2,True,False
998,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,2,True,False
999,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,2,True,False

In [45]:


from sklearn.model_selection import train_test_split

X = df.drop(columns=['CLASS'])  # or drop only 'CLASS' if you want to keep encoded
y = df['CLASS']  # target variable (encoded)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y)
X
y

0      0
1      0
2      0
3      0
4      0
      ..
995    2
996    2
997    2
998    2
999    2
Name: CLASS, Length: 1000, dtype: int64

In [46]:

import os
import pandas as pd
import joblib
from pathlib import Path
from dataclasses import dataclass
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from mlProject import logger
from mlProject.utils.common import read_yaml, create_directories
from mlProject.constants import *

@dataclass(frozen=True)
class ModelTrainerConfig:
    root_dir: Path
    train_data_path: Path
    test_data_path: Path
    model_name: str
    target_column: str
    n_estimators: int
    max_depth: int
    min_samples_split: int
    min_samples_leaf: int
    max_features: str
    bootstrap: bool
    random_state: int

class ConfigurationManager:
    def __init__(
        self,
        config_filepath=CONFIG_FILE_PATH,
        params_filepath=PARAMS_FILE_PATH,
        schema_filepath=SCHEMA_FILE_PATH
    ):
        self.config = read_yaml(config_filepath)
        self.params = read_yaml(params_filepath)
        self.schema = read_yaml(schema_filepath)
        create_directories([self.config.artifacts_root])

    def get_model_trainer_config(self) -> ModelTrainerConfig:
        config = self.config.model_trainer
        try:
            if hasattr(self.params, 'RandomForest'):
                params = self.params.RandomForest
            elif hasattr(self.params, 'random_forest'):
                params = self.params.random_forest
            elif hasattr(self.params, 'randomforest'):
                params = self.params.randomforest
            else:
                raise ValueError("RandomForest parameters not found in params.yaml")

            schema = self.schema.TARGET_COLUMN

            if not os.path.exists(config.train_data_path):
                raise FileNotFoundError(f"Train data path not found: {config.train_data_path}")
            if not os.path.exists(config.test_data_path):
                raise FileNotFoundError(f"Test data path not found: {config.test_data_path}")

            create_directories([config.root_dir])

            return ModelTrainerConfig(
                root_dir=config.root_dir,
                train_data_path=config.train_data_path,
                test_data_path=config.test_data_path,
                model_name=config.model_name,
                target_column=schema,
                n_estimators=params.n_estimators,
                max_depth=params.max_depth,
                min_samples_split=params.min_samples_split,
                min_samples_leaf=params.min_samples_leaf,
                max_features=params.max_features,
                bootstrap=params.bootstrap,
                random_state=params.random_state
            )
        except Exception as e:
            logger.error(f"Error in getting model trainer config: {e}")
            raise

def encode_categorical(df: pd.DataFrame) -> pd.DataFrame:
    """
    Encodes categorical columns to numeric.
    Maps common binary categories, else applies label encoding.
    """
    for col in df.select_dtypes(include=['object']).columns:
        unique_vals = set(df[col].dropna().unique())
        if unique_vals <= {'M', 'F'}:
            df[col] = df[col].map({'M': 1, 'F': 0})
        elif unique_vals <= {'Y', 'N'}:
            df[col] = df[col].map({'Y': 1, 'N': 0})
        elif unique_vals <= {'Yes', 'No'}:
            df[col] = df[col].map({'Yes': 1, 'No': 0})
        else:
            df[col] = pd.factorize(df[col])[0]
    return df

In [47]:
import pandas as pd
import os
from mlProject import logger
from sklearn.ensemble import RandomForestClassifier

import joblib

In [48]:

class ModelTrainer:
    def __init__(self, config: ModelTrainerConfig):
        self.config = config

    def evaluate_model(self, y_true, y_pred):
        mse = mean_squared_error(y_true, y_pred)
        mae = mean_absolute_error(y_true, y_pred)
        r2 = r2_score(y_true, y_pred)

        metrics = {
            "Mean Squared Error": mse,
            "Mean Absolute Error": mae,
            "R2 Score": r2
        }

        logger.info(f"Model Evaluation Metrics: {metrics}")
        return metrics

    def train(self):
        try:
            logger.info("Loading training and test data")
            train_data = pd.read_csv(self.config.train_data_path)
            test_data = pd.read_csv(self.config.test_data_path)

            logger.info("Encoding categorical features")
            train_data = encode_categorical(train_data)
            test_data = encode_categorical(test_data)

            logger.info("Splitting data into features and target")
            X_train = train_data.drop(self.config.target_column, axis=1)
            y_train = train_data[self.config.target_column]
            X_test = test_data.drop(self.config.target_column, axis=1)
            y_test = test_data[self.config.target_column]

            logger.info("Initializing Random Forest model")
            model = RandomForestRegressor(
                n_estimators=self.config.n_estimators,
                max_depth=self.config.max_depth,
                min_samples_split=self.config.min_samples_split,
                min_samples_leaf=self.config.min_samples_leaf,
                max_features=self.config.max_features,
                bootstrap=self.config.bootstrap,
                random_state=self.config.random_state,
                verbose=1
            )

            logger.info("Training model...")
            model.fit(X_train, y_train)
            logger.info("Model training completed")

            logger.info("Evaluating model performance")
            train_pred = model.predict(X_train)
            test_pred = model.predict(X_test)

            logger.info("Training set metrics:")
            self.evaluate_model(y_train, train_pred)

            logger.info("Test set metrics:")
            test_metrics = self.evaluate_model(y_test, test_pred)

            model_path = os.path.join(self.config.root_dir, self.config.model_name)
            joblib.dump(model, model_path)
            logger.info(f"Model saved at: {model_path}")

            return test_metrics

        except Exception as e:
            logger.error(f"Error during model training: {e}")
            raise

# Main execution
if __name__ == "__main__":
    try:
        logger.info("Starting model training pipeline")

        config_manager = ConfigurationManager()
        model_trainer_config = config_manager.get_model_trainer_config()

        model_trainer = ModelTrainer(config=model_trainer_config)
        metrics = model_trainer.train()

        logger.info(f"Model training completed successfully with metrics: {metrics}")

    except Exception as e:
        logger.error(f"Error in model training pipeline: {e}")
        raise

[2025-05-21 15:07:25,412: INFO: 3238777737: Starting model training pipeline]
[2025-05-21 15:07:25,417: INFO: common: yaml file: D:\DataScience\Ml flow project\ml-project-withmlflow\config\config.yaml loaded successfully]
[2025-05-21 15:07:25,422: INFO: common: yaml file: D:\DataScience\Ml flow project\ml-project-withmlflow\params.yaml loaded successfully]
[2025-05-21 15:07:25,432: INFO: common: yaml file: D:\DataScience\Ml flow project\ml-project-withmlflow\schema.yaml loaded successfully]
[2025-05-21 15:07:25,434: INFO: common: created directory at: artifacts]
[2025-05-21 15:07:25,434: INFO: common: created directory at: artifacts/model_trainer]
[2025-05-21 15:07:25,434: INFO: 3238777737: Loading training and test data]
[2025-05-21 15:07:25,443: INFO: 3238777737: Encoding categorical features]
[2025-05-21 15:07:25,450: INFO: 3238777737: Splitting data into features and target]
[2025-05-21 15:07:25,453: INFO: 3238777737: Initializing Random Forest model]
[2025-05-21 15:07:25,453: INFO: 3238777737: Training model...]
[2025-05-21 15:07:25,599: INFO: 3238777737: Model training completed]
[2025-05-21 15:07:25,601: INFO: 3238777737: Evaluating model performance]
[2025-05-21 15:07:25,617: INFO: 3238777737: Training set metrics:]
[2025-05-21 15:07:25,617: INFO: 3238777737: Model Evaluation Metrics: {'Mean Squared Error': 0.01132442521639093, 'Mean Absolute Error': 0.04086757598291661, 'R2 Score': 0.9635627917457291}]
[2025-05-21 15:07:25,617: INFO: 3238777737: Test set metrics:]
[2025-05-21 15:07:25,624: INFO: 3238777737: Model Evaluation Metrics: {'Mean Squared Error': 0.23481148765165125, 'Mean Absolute Error': 0.14885718833892966, 'R2 Score': 0.532620446553242}]
[2025-05-21 15:07:25,661: INFO: 3238777737: Model saved at: artifacts/model_trainer\model.joblib]
[2025-05-21 15:07:25,661: INFO: 3238777737: Model training completed successfully with metrics: {'Mean Squared Error': 0.23481148765165125, 'Mean Absolute Error': 0.14885718833892966, 'R2 Score': 0.532620446553242}]

[Parallel(n_jobs=1)]: Done  49 tasks      | elapsed:    0.0s
[Parallel(n_jobs=1)]: Done  49 tasks      | elapsed:    0.0s
[Parallel(n_jobs=1)]: Done  49 tasks      | elapsed:    0.0s

In [49]:
try:
    config = ConfigurationManager()
    model_trainer_config = config.get_model_trainer_config()
    model_trainer_config = ModelTrainer(config=model_trainer_config)
    model_trainer_config.train()
except Exception as e:
    raise e

[2025-05-21 15:07:25,691: INFO: common: yaml file: D:\DataScience\Ml flow project\ml-project-withmlflow\config\config.yaml loaded successfully]
[2025-05-21 15:07:25,694: INFO: common: yaml file: D:\DataScience\Ml flow project\ml-project-withmlflow\params.yaml loaded successfully]
[2025-05-21 15:07:25,706: INFO: common: yaml file: D:\DataScience\Ml flow project\ml-project-withmlflow\schema.yaml loaded successfully]
[2025-05-21 15:07:25,708: INFO: common: created directory at: artifacts]
[2025-05-21 15:07:25,708: INFO: common: created directory at: artifacts/model_trainer]
[2025-05-21 15:07:25,711: INFO: 3238777737: Loading training and test data]
[2025-05-21 15:07:25,716: INFO: 3238777737: Encoding categorical features]
[2025-05-21 15:07:25,721: INFO: 3238777737: Splitting data into features and target]
[2025-05-21 15:07:25,721: INFO: 3238777737: Initializing Random Forest model]
[2025-05-21 15:07:25,724: INFO: 3238777737: Training model...]
[2025-05-21 15:07:25,882: INFO: 3238777737: Model training completed]
[2025-05-21 15:07:25,882: INFO: 3238777737: Evaluating model performance]
[2025-05-21 15:07:25,899: INFO: 3238777737: Training set metrics:]
[2025-05-21 15:07:25,899: INFO: 3238777737: Model Evaluation Metrics: {'Mean Squared Error': 0.01132442521639093, 'Mean Absolute Error': 0.04086757598291661, 'R2 Score': 0.9635627917457291}]
[2025-05-21 15:07:25,899: INFO: 3238777737: Test set metrics:]
[2025-05-21 15:07:25,907: INFO: 3238777737: Model Evaluation Metrics: {'Mean Squared Error': 0.23481148765165125, 'Mean Absolute Error': 0.14885718833892966, 'R2 Score': 0.532620446553242}]
[2025-05-21 15:07:25,951: INFO: 3238777737: Model saved at: artifacts/model_trainer\model.joblib]

[Parallel(n_jobs=1)]: Done  49 tasks      | elapsed:    0.0s
[Parallel(n_jobs=1)]: Done  49 tasks      | elapsed:    0.0s
[Parallel(n_jobs=1)]: Done  49 tasks      | elapsed:    0.0s

In [50]:
pd.read_csv('./model_output/train.csv').head()

,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,Gender_M,Gender_f,CLASS
0,44,4.3,49,4.0,5.6,1.4,1.4,3.6,0.6,22.0,False,False,N
1,53,2.7,38,8.8,4.8,1.3,1.7,1.6,2.0,26.0,True,False,Y
2,68,2.9,35,11.5,4.9,2.1,2.3,1.8,0.8,33.0,True,False,Y
3,55,3.2,49,6.7,4.6,1.2,1.3,2.8,0.5,30.2,True,False,Y
4,54,5.9,74,12.4,5.5,1.3,1.6,1.7,1.9,27.0,False,False,Y