In [92]:
import os

In [93]:
%pwd

'd:\\'

In [94]:
os.chdir("../")

In [95]:
%pwd

'd:\\'

In [108]:
import pandas as pd
df = pd.read_csv(r'D:\DataScience\Ml flow project\ml-project-withmlflow\artifacts\data_ingestion\Dataset of Diabetes .csv')
df

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [109]:
df=df.drop(columns=['ID','No_Pation'],)

In [110]:
df.head()

  Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI CLASS
0      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
1      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0     N
2      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
3      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
4      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0     N

In [111]:
df['CLASS'].value_counts()

CLASS
Y     840
N     102
P      53
Y       4
N       1
Name: count, dtype: int64

In [112]:
df = pd.get_dummies(df, columns=['Gender'], drop_first=True)

In [113]:
df['CLASS'] = df['CLASS'].str.strip().str.upper()
print(df['CLASS'].value_counts())

CLASS
Y    844
N    103
P     53
Name: count, dtype: int64

In [114]:
df['CLASS']=df['CLASS'].map({'N':0,'P':1,'Y':2})
df

,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS,Gender_M,Gender_f
0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0,False,False
1,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0,True,False
2,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0,False,False
3,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0,False,False
4,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,2,True,False
996,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,2,True,False
997,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,2,True,False
998,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,2,True,False
999,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,2,True,False

In [115]:

from sklearn.model_selection import train_test_split

X = df.drop(columns=['CLASS'])  # or drop only 'CLASS' if you want to keep encoded
y = df['CLASS']  # target variable (encoded)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y)
X
y

0      0
1      0
2      0
3      0
4      0
      ..
995    2
996    2
997    2
998    2
999    2
Name: CLASS, Length: 1000, dtype: int64

In [96]:
import dagshub
dagshub.init(repo_owner='fazilkkv123', repo_name='ml-project-withmlflow', mlflow=True)

[2025-06-02 11:09:20,265: INFO: _client: HTTP Request: GET https://dagshub.com/api/v1/repos/fazilkkv123/ml-project-withmlflow "HTTP/1.1 200 OK"]

Initialized MLflow to track repo "fazilkkv123/ml-project-withmlflow"

[2025-06-02 11:09:20,281: INFO: helpers: Initialized MLflow to track repo "fazilkkv123/ml-project-withmlflow"]

Repository fazilkkv123/ml-project-withmlflow initialized!

[2025-06-02 11:09:20,281: INFO: helpers: Repository fazilkkv123/ml-project-withmlflow initialized!]

In [97]:
os.environ["MLFLOW_TRACKING_URI"]="https://dagshub.com/fazilkkv123/ml-project-withmlflow.mlflow"
os.environ["MLFLOW_TRACKING_USERNAME"]="fazilkkv123"
os.environ["MLFLOW_TRACKING_PASSWORD"] = "0b7f5da7f51c0f0cb6c8a57916f5dcd2563ea274"

In [98]:
from dataclasses import dataclass
from pathlib import Path


@dataclass(frozen=True)
class ModelEvaluationConfig:
    root_dir: Path
    test_data_path: Path
    model_path: Path
    all_params: dict
    metric_file_name: Path
    target_column: str
    mlflow_uri: str

In [99]:
from mlProject.constants import *
from mlProject.utils.common import read_yaml, create_directories, save_json

In [116]:
from mlProject import logger

import pandas as pd

class ConfigurationManager:
    def __init__(
        self,
        config_filepath=CONFIG_FILE_PATH,
        params_filepath=PARAMS_FILE_PATH,
        schema_filepath=SCHEMA_FILE_PATH
    ):
        self.config = read_yaml(config_filepath)
        self.params = read_yaml(params_filepath)
        self.schema = read_yaml(schema_filepath)

        create_directories([self.config.artifacts_root])

    def get_model_evaluation_config(self) -> ModelEvaluationConfig:
        try:
            config = self.config.model_evaluation
            schema = self.schema.TARGET_COLUMN  # This is already a string

            # Safely extract RandomForest params
            rf_keys = ["RandomForest", "random_forest", "randomforest"]
            params = None
            for key in rf_keys:
                if hasattr(self.params, key):
                    params = getattr(self.params, key)
                    break
            if params is None:
                raise ValueError("RandomForest parameters not found in params.yaml")

            # Ensure model evaluation directory exists
            create_directories([config.root_dir])

            return ModelEvaluationConfig(
                root_dir=config.root_dir,
                test_data_path=config.test_data_path,
                model_path=config.model_path,
                all_params=params,
                metric_file_name=config.metric_file_name,
                target_column=schema,  # âœ… FIXED HERE
                mlflow_uri="https://dagshub.com/fazilkkv123/ml-project-withmlflow.mlflow"  # Update with your actual URI
            )

        except Exception as e:
            logger.error(f"Error in getting model evaluation config: {e}")
            raise
        
        
        

def encode_categorical(df: pd.DataFrame) -> pd.DataFrame:
    """
    Encodes categorical columns to numeric.
    Maps common binary categories, else applies label encoding.
    """
    for col in df.select_dtypes(include=['object']).columns:
        unique_vals = set(df[col].dropna().unique())
        if unique_vals <= {'M', 'F'}:
            df[col] = df[col].map({'M': 1, 'F': 0})
            
        elif unique_vals <= {'Y', 'N'}:
            df[col] = df[col].map({'Y': 1, 'N': 0})
        elif unique_vals <= {'Yes', 'No'}:
            df[col] = df[col].map({'Yes': 1, 'No': 0})
        else:
            df[col] = pd.factorize(df[col])[0]

    return df  # ðŸŸ¢ now it's outside the loop

In [117]:
import os
import pandas as pd
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from urllib.parse import urlparse
import mlflow
import mlflow.sklearn
import numpy as np
import joblib

In [127]:
import pandas as pd
import numpy as np
import mlflow
import joblib
from urllib.parse import urlparse
from pathlib import Path
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def encode_categorical(df: pd.DataFrame) -> pd.DataFrame:
    """
    Encodes categorical columns to numeric. Maps binary categories, else label encodes.
    """
    for col in df.select_dtypes(include=['object']).columns:
        unique_vals = set(df[col].dropna().unique())
        if unique_vals <= {'M', 'F'}:
            df[col] = df[col].map({'M': 1, 'F': 0})
        elif unique_vals <= {'Y', 'N'}:
            df[col] = df[col].map({'Y': 1, 'N': 0})
        elif unique_vals <= {'Yes', 'No'}:
            df[col] = df[col].map({'Yes': 1, 'No': 0})
        else:
            df[col] = pd.factorize(df[col])[0]
    return df

# Placeholder for your save_json function - replace with your implementation
def save_json(path: Path, data: dict):
    import json
    with open(path, 'w') as f:
        json.dump(data, f, indent=4)

class ModelEvaluation:
    def __init__(self, config):
        self.config = config

    def eval_metrics(self, actual, pred):
        rmse = np.sqrt(mean_squared_error(actual, pred))
        mae = mean_absolute_error(actual, pred)
        r2 = r2_score(actual, pred)
        return rmse, mae, r2

    def log_into_mlflow(self):
        test_data = pd.read_csv(self.config.test_data_path)
        model = joblib.load(self.config.model_path)

        test_x = test_data.drop([self.config.target_column], axis=1)
        test_y = test_data[self.config.target_column]

        # Encode features
        test_x = encode_categorical(test_x)

        # Encode target if categorical
        if test_y.dtype == 'object':
            unique_vals = set(test_y.dropna().unique())
            if unique_vals <= {'Y', 'N'}:
                test_y = test_y.map({'Y': 1, 'N': 0})
            elif unique_vals <= {'Yes', 'No'}:
                test_y = test_y.map({'Yes': 1, 'No': 0})
            elif unique_vals <= {'M', 'F'}:
                test_y = test_y.map({'M': 1, 'F': 0})
            else:
                test_y = pd.factorize(test_y)[0]

        mlflow.set_registry_uri(self.config.mlflow_uri)
        tracking_url_type_store = urlparse(mlflow.get_tracking_uri()).scheme

        with mlflow.start_run():
            predicted_qualities = model.predict(test_x)
            rmse, mae, r2 = self.eval_metrics(test_y, predicted_qualities)

            # Save local metrics
            scores = {"rmse": rmse, "mae": mae, "r2": r2}
            save_json(path=Path(self.config.metric_file_name), data=scores)

            mlflow.log_params(self.config.all_params)
            mlflow.log_metric("rmse", rmse)
            mlflow.log_metric("mae", mae)
            mlflow.log_metric("r2", r2)

            if tracking_url_type_store != "file":
                mlflow.sklearn.log_model(model, "model", registered_model_name="random_forest_model")
            else:
                mlflow.sklearn.log_model(model, "model")

In [135]:
def save_json(path: Path, data: dict):
    import json
    try:
        path.parent.mkdir(parents=True, exist_ok=True)  # create folder if needed
        with open(path, 'w') as f:
            json.dump(data, f, indent=4)
        print(f"Metrics saved successfully at {path}")
    except Exception as e:
        print(f"Failed to save metrics: {e}")

In [136]:
try:
    config = ConfigurationManager()
    model_evaluation_config = config.get_model_evaluation_config()
    model_evaluation_config = ModelEvaluation(config=model_evaluation_config)
    model_evaluation_config.log_into_mlflow()
except Exception as e:
    raise e

[2025-06-02 11:22:56,423: INFO: common: yaml file: D:\DataScience\Ml flow project\ml-project-withmlflow\config\config.yaml loaded successfully]
[2025-06-02 11:22:56,439: INFO: common: yaml file: D:\DataScience\Ml flow project\ml-project-withmlflow\params.yaml loaded successfully]
[2025-06-02 11:22:56,450: INFO: common: yaml file: D:\DataScience\Ml flow project\ml-project-withmlflow\schema.yaml loaded successfully]
[2025-06-02 11:22:56,451: INFO: common: created directory at: artifacts]
[2025-06-02 11:22:56,451: INFO: common: created directory at: artifacts/model_evaluation]

[Parallel(n_jobs=1)]: Done  49 tasks      | elapsed:    0.0s

Metrics saved successfully at artifacts\model_evaluation\metrics.json

Registered model 'random_forest_model' already exists. Creating a new version of this model...
2025/06/02 11:23:06 INFO mlflow.tracking._model_registry.client: Waiting up to 300 seconds for model version to finish creation.                     Model name: random_forest_model, version 4
Created version '4' of model 'random_forest_model'.

In [137]:
import mlflow
print("Tracking URI:", mlflow.get_tracking_uri())

Tracking URI: https://dagshub.com/fazilkkv123/ml-project-withmlflow.mlflow